@use '../../utils/variables' as *;
@use '../../utils/mixins' as *;

.course-card {
  display: grid;
  gap: 1rem;
  background-color: $color-white;
  border-radius: 0.5rem;
  padding: 1rem;

  &-header {
    font-weight: 500;
    text-transform: capitalize;
  }
  &-subtitle {
    @include text(sm);
    color: $color-gray-500;
    font-weight: 400;
  }
  &-title {
    @include text(lg);
  }
  &-description {
    @include text(sm);
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    color: $color-gray-500;
    font-weight: 400;
  }
  &-footer {
    display: grid;
    row-gap: 0.5rem;
  }
  &-skeleton {
    display: grid;
    gap: 1.5rem;
    animation: pulse 2000ms infinite ease-in-out;

    &-header {
      display: grid;
      gap: 0.5rem;
      align-items: center;
    }
    &-subtitle {
      width: min(21.875vw, 8.75rem);
      height: 1rem;
      background-color: $color-gray-200;
      border-radius: 0.5rem;
    }
    &-title {
      width: min(37.5vw, 12.5rem);
      height: 1.5rem;
      background-color: $color-gray-200;
      border-radius: 0.5rem;
    }
    &-description {
      width: min(21.875vw, 8.75rem);
      height: 1rem;
      background-color: $color-gray-200;
      border-radius: 0.5rem;
    }
  }
}
