@use '../../utils/variables' as *;
@use '../../utils/mixins' as *;

.course-card {
  display: grid;
  gap: 1rem;
  background-color: $color-white;
  border-radius: 0.5rem;
  padding: 1rem;

  &-header {
    font-weight: 500;
    text-transform: capitalize;
  }
  &-subtitle {
    @include text(sm);
    color: $color-gray-500;
    font-weight: 400;
  }
  &-title {
    @include text(lg);
  }
  &-description {
    @include text(sm);
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    color: $color-gray-500;
    font-weight: 400;
  }
  &-footer {
    display: grid;
    row-gap: 0.5rem;
  }
}
