// SCREENS
$screen-xsm: 480px;
$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;
$screen-2xl: 1536px;

// COLORS
$color-white: #ffffff;
$color-black: #000000;

$color-gray-50: #f7f8f8;
$color-gray-100: #edeef1;
$color-gray-200: #d8dbdf;
$color-gray-300: #b6bac3;
$color-gray-400: #8e95a2;
$color-gray-500: #6b7280;
$color-gray-600: #5b616e;
$color-gray-700: #4a4e5a;
$color-gray-800: #40444c;
$color-gray-900: #383a42;
$color-gray-950: #25272c;

$color-blue-50: #eff5ff;
$color-blue-100: #dbe8fe;
$color-blue-200: #bfd7fe;
$color-blue-300: #93bbfd;
$color-blue-400: #609afa;
$color-blue-500: #3b82f6;
$color-blue-600: #2570eb;
$color-blue-700: #1d64d8;
$color-blue-800: #1e55af;
$color-blue-900: #1e478a;
$color-blue-950: #172e54;

$color-green-50: #f0fdf5;
$color-green-100: #dcfce8;
$color-green-200: #bbf7d1;
$color-green-300: #86efad;
$color-green-400: #4ade80;
$color-green-500: #22c55e;
$color-green-600: #16a34a;
$color-green-700: #15803c;
$color-green-800: #166533;
$color-green-900: #14532b;
$color-green-950: #052e14;

$color-red-50: #fef2f2;
$color-red-100: #fee2e2;
$color-red-200: #fecaca;
$color-red-300: #fca5a5;
$color-red-400: #f87171;
$color-red-500: #ef4444;
$color-red-600: #dc2626;
$color-red-700: #b91c1c;
$color-red-800: #991b1b;
$color-red-900: #7f1d1d;
$color-red-950: #450a0a;

$color-yellow-50: #fef9e8;
$color-yellow-100: #fef0c3;
$color-yellow-200: #fee28a;
$color-yellow-300: #fdd147;
$color-yellow-400: #fac215;
$color-yellow-500: #eab308;
$color-yellow-600: #ca9a04;
$color-yellow-700: #a17c07;
$color-yellow-800: #85680e;
$color-yellow-900: #715a12;
$color-yellow-950: #423306;
